:root {
  --grey-dark: #444444;
  --grey-darker: #292929;
  --grey-light: #818181;
  --white-bone: #cfcfcf;
  --emerald-light: #4394a9;
  --emerald-shine: #5cc9e5;
  --transition-time: 0.4s;
  --shadow-radius: 25px;
  --border-radius-card: 5px;
  --border-radius-card-cat: 10px;
}

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Fredoka", sans-serif;
  transition-duration: var(--transition-time);
}

body,
html {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
  background-color: black;
}

a {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  /* color: var(--grey-light); */
  color: var(--emerald-shine);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-weight: normal;
  font-size: 1.5em;
}

h4 {
  font-size: 1.5em;
}

.home-link-img {
  width: 90px;
  height: 20px;
  cursor: pointer;
}

.hero-section-container {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("./images/profileImage.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.hero-text-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.content {
  width: 100%;
  height: 100vh;
}


/* Header */
.nav-main {  
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 10vh;
}

.header {
  width: 100%;
  height: inherit;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-content {
  z-index: 15;
}

.git-img {
  width: 1.5em;
  height: 1.5em;
}

.git-img:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(140deg) brightness(100%) contrast(90%);
  transition-duration: 0s;
}

.footer {
  position: relative;
  bottom: 0;
  justify-content: right;
  background-color: var(--grey-darker);
}

.nav-header-links a {
  margin-left: 2em;
}

.nav-header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 15;
  transition: transform 0.9s;
}

.section-header {
  text-align: center;
  margin: 1em 0;
}

.header-hamburger {
  display: none;
  cursor: pointer;
}

.header-hamburger span {
  display: block;
  margin: 0.4em 0;
  width: 1.5em;
  height: 0.15em;
  background-color: white;
}

/* Projects, Project-Card */
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 1.5em;
  row-gap: 1em;
  text-align: center;
  margin: 2em;
}

.project-card {
  border-radius: var(--border-radius-card);
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px 1px var(--emerald-light);
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px var(--emerald-light);
}

.project-card:hover > .project-card-description{
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-duration: 0.5s;
  visibility: visible;
  pointer-events: auto;
}

.project-card:hover > .project-card-img {
  opacity: 0.2;
}

.project-card-description {
  width: 100%;
  pointer-events:none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
}

.project-card-img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);
}

.project-card-title {
  font-size: 2em;
  text-align: center;
  color: var(--emerald-shine);
  margin-bottom: 1em;
}

.project-card-git-container {
  margin: 1.5em 0;
}

.project-card-git-link {
  font-size: 1.8em;
  border: 0.08em solid white;
  padding: 0.2em;
}

.project-card-git-link:hover {
  color: var(--emerald-shine);
  border-color: var(--emerald-shine);
}

.project-card-git-img {
  width: 30%;
  height: 30%;
}

.center-section {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-card);
}


/* Carousel */
.carousel {
  overflow: hidden;
  width: 50%;
}

.carousel-inner {
  white-space: nowrap;
  transition: transform 0.9s;
}

.carousel-item {
  width: 100%;
  height: 450px;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-card-cat);
  margin-right: 100%;
}

.carousel-btn {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  width: 1.5em;
  height: 1.5em;
  margin: 0.3em;
  padding: 0.3em;
  align-self: center;
  background-color: var(--grey-dark);
  opacity: 0.75;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
}

.carousel-btn:hover {
  background-color: var(--grey-darker);
  color: var(--emerald-shine);
  opacity: 1.0;
}


/* Radio */
input[type="radio"] {
  background-color: var(--white-bone);
  border-radius: 50%;
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 1rem;
  position: relative;
  -webkit-appearance: none;
}

input[type="radio"]:after {
  background-color: var(--grey-light);
  border-radius: 50%;
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  left: 0;
  position: relative;
}
input[type="radio"]:checked:after {
  background-color: var(--grey-darker);
  box-shadow: 0 0 0 1px var(--grey-darker);
}







/* Scrollbar*/
@media screen and (min-width: 1024px) {
  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: black;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--grey-dark);
    background-clip: padding-box;
    /* outline: 1px solid var(--grey-light); */
  }
}  


@media screen and (max-width: 769px) {
  h1 {
   font-size: 4em;
  }

  .header-hamburger {
    display: block;
  }

  .nav-header-links {
    position: absolute;
    right: 0;
    top: 10vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transform: translateY(-200%);
    transition: all 0.1 ease-in;
    z-index: 1;
  }

  .nav-header-links-active {
    transform: translateY(0%);
  }

  .nav-header-links a {
    padding: 1em;
    margin: 0;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 2em;
    margin: 30px;
  }

  .carousel {
    width: 100%;
    margin: 0 5%;
  }

  .carousel-btn {
    display: none;
  }
}

@keyframes navMenuSlide {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.ham-toggle .line1 {
  transform: rotate(45deg) translate(0.3em, 0.70em);
}
.ham-toggle .line2 {
  opacity: 0;
}
.ham-toggle .line3 {
  transform: rotate(-45deg) translate(0.07em, -0.50em);
}
